.kiwiSvg {
  width: 180px;
  height: auto;
  filter: drop-shadow(0 2px 4px oklch(0 0 0 / 0.05));

  /* .prim-accent {
    fill: oklch(0.51 0.22 275);
  } */

  path {
    stroke: red;
  }

  @media (width < 768px) {
    width: 140px;
  }
}