
h1.cart-page-heading {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    /* padding: 2rem 1.5rem; */
    padding-inline: 1.5rem;
    padding-block-start: 2rem;
}

.cart-page-main {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 1rem;

}


.cart-items-container {

    h2 {
        background-color: var(--card-bg);
        padding: 1.5rem 2rem;
        border-radius: var(--radius-lg);
        margin-bottom: 1rem;
    }

    ul {
        display: grid;
        gap: 1rem;
    }
}


.summary-container {
    padding: 1.5rem 2rem;
    background-color: var(--card-bg);
    border-radius: var(--radius-lg);

    display: grid;
    align-content: start;
    gap: 1rem;
}

.summary-group {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-size: 1.05rem;

    span:first-child {
        color: var(--muted-text);
    }

    span:last-child {
        font-weight: 600;
    }
}